# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Vercel local config
.vercel/

# Logs
*.log
npm-debug.log*
